.card {
  border-radius: 15px;
}

.card .card-left {
  width: 25%;
}

.card .card-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
}

.card .card-right {
  width: 100%;
}

.card .card-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-right .card-links a {
  border-radius: 5px;
  padding: 8px 10px;
}
